@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 2rem 15rem;
}

main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 3rem;
  margin-bottom: 1.25rem;
}

main > p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

button{
  font-weight: bold;
  color: #fff;
  border: solid #33C3F0 1px;
  border-radius: 5px;
  background: #33C3F0;
  padding: 0.5rem 1.25rem;
}

.bold{
  font-weight: bold;
}