@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
  list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 2rem 15rem;
    
}

main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 3rem;
  margin-bottom: 1.25rem;
}

main > p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

button{
  font-weight: bold;
  color: #fff;
  border: solid #33C3F0 1px;
  border-radius: 5px;
  background: #33C3F0;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.meal-instructions {
  width: 100%;
  height: auto;
  display: flex;
  column-gap: 1rem;
}

.meal-instructions > img{
  width: 30%;
  height: 40vh;
  object-position: center;
  object-fit: cover;
}

.meal-instructions-details {
  width: 70%;
  margin-bottom: 2rem; 
}

.meal-meta-details{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top:2rem;
}

.bold{
  font-weight: bold;
}

.mb-1 {
  margin-bottom: 1rem;
}